/* General */

body {
    background-image: url("background.jpg");
}

h1 {
    font-family: 'Pacifico', cursive;
    color: #ff9ef0;
    font-size: 40px;
}

h2 {
    font-family: 'Abel', sans-serif;
    color: #dd63ca;
    font-size: 20px;
}

h3 {
    font-family: 'Abel', sans-serif;
    color: #f4f4f4;
    font-size: 20px;
}

p {
    font-family: 'Abel', sans-serif;
}

a {
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-family: 'Abel', sans-serif;
    font-size: 26px;
}

a:hover {
    color: #ff9ef0;
    font-weight: bold;
}

/* Header */

header {
    background-color: black;
    padding: 30px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    border-top: 3px solid #f4f4f4;
}

nav ul li {
    display: inline;
    color: white;
    font-size: 26px;
}

/* All Sections */
header, #about, #story, #gallery, #combos {
    border-left: 3px solid #f4f4f4;
    border-right: 3px solid #f4f4f4;
    border-bottom: 3px solid #f4f4f4;
}

/* About Section */

#about {
    background-color: #9b0083;
    text-align: center;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

.aboutWrapper {
    display: flex;
    margin-left: 30px;
}

.aboutContainer {
    background-color: black;
    width: 460px;
    height: 614px;
    padding: 0px 20px 0px 30px;
}

#aboutImage {
    width: 460px;
    height: 614px;
}

.aboutBoxWrapper {
    display: flex;
    margin-left: 20px;
}

.aboutBox1 {
    text-align: left;
    line-height: 1.6;
}

.aboutBox2 {
    text-align: right;
    line-height: 1.6;
    margin-left: 100px;
}
/* Story Section */

#story {
    background-color: #f4f4f4;
    text-align: center;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

.accordion {
    background-color: #ff00d7;
    color: black;
    cursor: pointer;
    padding: 10px;
    width: 800px;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #9b0083;
    color: #cccccc;
}

.panel {
    padding: 0px 40px 0px 40px;
    width: 720px;
    margin-left: 114px;
    background-color: #cccccc;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.2s ease-out;
}

/* Gallery Section */

#gallery {
    background-color: #9b0083;
    text-align: center;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

.galleryWrapper {
    display: flex;
    margin-left: 0px;
}

.image {
    background-color: black;
    width: 320px;
    height: 480px;
    margin-left: 12px;
    border: 3px solid #f4f4f4;
}
